<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IntentHandler.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>IntentHandlerUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>ObjCVoiceCallingApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>473EF95D1E9D28690022AF4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>473EF9761E9D28690022AF4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>473EF9811E9D28690022AF4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47CDA1761EB1FC6900D83BB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47CDA1801EB1FC6900D83BB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
